:root {
  --colorA: #90adc6;
  --colorB: #e9eaec;
  --colorC: #fad02c;
  --colorD: #333652;
  --imgborder: 3px solid #fad02c;
}

body {
  font-family: "Roboto", sans-serif;
}

.name {
  color: var(--colorC);
  font-weight: 900;
}

main {
  background-color: var(--colorB);
  border-top: 3px solid var(--colorC);
}

.custom-nav-item {
  color: var(--colorD);
}

.background-shape {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid var(--colorC);
  border-bottom: 25px solid transparent;
}

/*assigns background and text colors and font size to header*/
header {
  background-color: var(--colorA);
  margin: 0;
  padding: 0;
  border: 0;
}

/*moves nav items to the right side of page and customizes styling*/
.custom-nav {
  text-align: right;
  color: var(--colorD);
  font-weight: 500;
}

.custom-img {
  border: 1px solid var(--colorB);
  border-radius: 6px;
  padding: 5px;
  width: 150px;
}

/*sets aaplication 1 image sizing, applies a variable border and makes it responsive*/
.hero_img {
  border: var(--imgborder);
}

.custom-font {
  color: var(--colorD);
}

/*styles colors for text and background on image headings*/
.image_heading {
  background-color: var(--colorA);
  opacity: 85%;
  color: var(--colorD);
}

.custom-link {
  color: var(--colorD);
}

/*styles the layout of all elements within secondary apps section with content in rows centered in the container*/
.secondary_apps {
  transition: flex-basis 500ms linear;
}

.hover:hover {
  opacity: 60%;
}

/*styles contact list elements to be inline and adds font formatting*/
.contact_items {
  display: inline;
  padding: 2%;
}

/*adds underline to phone number to match other contact links*/
.underline {
  text-decoration: underline;
}

/*media queries below used to assign breakpoints for responsive design*/
/* @media screen and (max-width: 768px) {

  .about p {
    font-size: 1.5rem;
  }
  .contact_items {
    font-size: 1.5rem;
  }
} */
/* @media screen and (max-width: 600px) {
  .list {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  .menu {
    display: block;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .intro {
    margin-left: 0;
    margin-right: 2%;
  }
  .about p {
    font-size: 1rem;
  }

  .apps {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .contact_items {
    display: block;
    font-size: 1.5rem;
  }
} */
