:root {
  --colorA: #748b75;
  --colorB: #e7e7e7;
  --colorC: #f78154;
  --colorD: #503d42;
  --imgborder: 7px solid #f78154;
}

/* html {
  font-size: 62.5%;
} */
body {
  font-family: "Roboto", sans-serif;
}

.name {
  color: var(--colorC);
}

.custom-nav-item {
  color: var(--colorD);
}

.background-shape {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid var(--colorC);
  border-bottom: 25px solid transparent;
}

/*assigns background and text colors and font size to header*/
header {
  background-color: var(--colorB);
  color: var(--colorA);
  /* font-size: 6rem; */
}

/*assigns background color to text element and applies spacing within text*/
header h1 span {
  background-color: var(--colorC);
  /* letter-spacing: 0.1em; */
}

/*moves nav items to the right side of page*/
/* .list {
  text-align: right;
} */

/*arranges header nav items inline; sets font size to 3.5xrem; creates a bolded effect; adds padding around list items*/
/* .menu {
  display: inline;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 2%;
} */

/*assigned color to header nav list items*/
.menu_item {
  color: var(--colorA);
}

/*styles font within the about text body*/
/* .about p {
  font-size: 2.5rem;
  padding: 2% 0% 2% 0%;
} */

/*styles the box for the work section*/
/* .work {
  width: 100%;
  margin-bottom: 12%;
} */

/*sets aaplication 1 image sizing, applies a variable border and makes it responsive*/
.hero_img {
  border: var(--imgborder);
}

/*styles colors for text and background on image headings*/
.image_heading {
  background-color: var(--colorA);
  opacity: 40%;
  color: var(--colorB);
}

/*styles the layout of all elements within secondary apps section with content in rows centered in the container*/
.secondary_apps {
  transition: flex-basis 500ms linear;
}

/*sets image sizing and adds border around images in secondary app section*/
/* .app_image {
  border: var(--imgborder);
  width: 100%;
  height: auto;
  margin-top: 1%;
} */

.hover:hover {
  opacity: 60%;
}

/* .contact {
  display: inline-flex;
  align-items: center;
} */
/* assigns element position for contact info list*/
/* .contact_list { 
  text-align: left;
  flex-flow: row nowrap;
} */

/*styles contact list elements to be inline and adds font formatting*/
/* .contact_items {
  display: inline;
  font-size: 3rem;
  padding: 2%;
} */

/*adds underline to phone number to match other contact links*/
.underline {
  text-decoration: underline;
}

/*media queries below used to assign breakpoints for responsive design*/
/* @media screen and (max-width: 768px) {

  .about p {
    font-size: 1.5rem;
  }
  .contact_items {
    font-size: 1.5rem;
  }
} */
/* @media screen and (max-width: 600px) {
  .list {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  .menu {
    display: block;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .intro {
    margin-left: 0;
    margin-right: 2%;
  }
  .about p {
    font-size: 1rem;
  }

  .apps {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .contact_items {
    display: block;
    font-size: 1.5rem;
  }
} */
